Repository rancher/cluster-api-provider-rke2, pull requests merged in 2025-05, with the labels that each got.

#640 Fix flaky test
  pkg/rke2/workload_cluster_test.go
Labels: area/ci, kind/flake

#627 ✨ Support RKE2ControlPlane mhc remediation
  Makefile
  controlplane/api/v1alpha1/conversion.go
  controlplane/api/v1alpha1/zz_generated.conversion.go
  controlplane/api/v1beta1/rke2controlplane_types.go
  controlplane/api/v1beta1/zz_generated.deepcopy.go
  controlplane/config/crd/bases/controlplane.cluster.x-k8s.io_rke2controlplanes.yaml
  controlplane/config/crd/bases/controlplane.cluster.x-k8s.io_rke2controlplanetemplates.yaml
  controlplane/internal/controllers/remediation.go
  controlplane/internal/controllers/rke2controlplane_controller.go
  controlplane/internal/controllers/rke2controlplane_controller_test.go
  pkg/etcd/util/util.go
  pkg/rke2/control_plane.go
  pkg/rke2/workload_cluster_etcd.go
  pkg/rke2/workload_cluster_test.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure/cluster-template-kcp-remediation.yaml
  test/e2e/rcp_remediation_test.go
Labels: area/controller, kind/feature

#645 Add kubeconfig rotate tests
  controlplane/internal/controllers/rke2controlplane_controller.go
  controlplane/internal/controllers/rke2controlplane_controller_test.go
  controlplane/internal/controllers/suite_test.go
  pkg/kubeconfig/kubeconfig.go
  pkg/rke2/management_cluster.go
  pkg/rke2/workload_cluster_test.go
  test/helpers/envtest.go
Labels: area/controlplane, kind/cleanup

#646 Reconcile external external owner reference
  controlplane/api/v1beta1/rke2controlplane_webhook.go
  controlplane/config/rbac/role.yaml
  controlplane/internal/controllers/rke2controlplane_controller.go
  pkg/rke2/control_plane.go
  test/e2e/data/infrastructure/cluster-template-docker-updated.yaml
  test/e2e/data/infrastructure/cluster-template-docker.yaml
  test/e2e/data/infrastructure/cluster-template-kcp-remediation.yaml
  test/e2e/e2e_upgrade_test.go
  test/e2e/helpers.go
Labels: area/controlplane, kind/bug

#651 Prevent Machine rollouts before machineTemplate has been updated
  bootstrap/config/manager/manager.yaml
  controlplane/config/manager/manager.yaml
  controlplane/internal/controllers/rke2controlplane_controller.go
  pkg/rke2/control_plane.go
  pkg/rke2/machine_filters.go
  pkg/rke2/machine_filters_test.go
  test/e2e/config/e2e_conf.yaml
Labels: area/controller, kind/enhancement

#652 [0.15] Prevent Machine rollouts before machineTemplate has been updated
  bootstrap/config/manager/manager.yaml
  controlplane/config/manager/manager.yaml
  controlplane/internal/controllers/rke2controlplane_controller.go
  pkg/rke2/control_plane.go
  pkg/rke2/machine_filters.go
  pkg/rke2/machine_filters_test.go
  test/e2e/config/e2e_conf.yaml
Labels: area/controller, kind/bug, kind/enhancement

#650 🌱 Prepare main branch for v0.16 development
  docs/book/src/01_user/01_getting-started.md
  metadata.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_upgrade_test.go
Labels: area/build-and-release, kind/chore

#663 Cleanup workloadCluster usage
  controlplane/internal/controllers/rke2controlplane_controller.go
  controlplane/internal/controllers/scale.go
Labels: area/controlplane, kind/cleanup

#660 Simplify service start
  bootstrap/internal/ignition/ignition.go
  bootstrap/internal/ignition/ignition_test.go
Labels: area/bootstrap, kind/refactor

#662 Improve test stability
  test/helpers/envtest.go
Labels: area/ci, kind/flake

#667 🌱 Prepare main branch for v0.17 development
  docs/book/src/01_user/01_getting-started.md
  metadata.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_upgrade_test.go
Labels: area/build-and-release, kind/chore

#668 📖 Update registrationMethod book documentation
  docs/book/src/02_topics/02_node-registration-methods.md
Labels: kind/bug, area/documentation

#670 🐛 Backfill missing RKE2ControlPlane fields from legacy format
  controlplane/internal/controllers/rke2controlplane_controller.go
Labels: area/controlplane, kind/bug
